.popupContainer {
  display: flex;
  gap: 20px;

  img {
    width: 84px;
    height: 68px;
    object-fit: cover;
    border-radius: 5px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
