@import "./responsive.scss";

.layout {
  background-color: rebeccapurple;
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;

  @include lg {
    background-color: blue;
    max-width: 1024px;
  }
  @include md {
    background-color: orange;
    max-width: 768px;
  }
  @include sm {
    background-color: red;
    max-width: 640px;
  }
}
