.singlePage {
  display: flex;
  height: 100%;

  .details {
    flex: 3;

    .wrapper {
      padding-right: 50px;
      overflow-y: scroll;
      height: 100%;
      padding-bottom: 20px;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        .info {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .info-title {
            font-size: 24px;
          }

          .info-address {
            display: flex;
            align-items: center;
            color: #444;

            img {
              width: 20px;
              height: 20px;
            }
          }

          .info-price {
            font-size: 20px;
            background-color: rgba(254, 205, 81, 0.438);
            padding: 5px;
            width: max-content;
            border-radius: 5px;
            font-weight: lighter;
          }
        }

        .user {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          background-color: rgba(254, 205, 81, 0.209);
          padding: 20px 40px;
          border-radius: 10px;

          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }
          h3 {
            font-size: 20px;
          }
        }
      }

      .bottom {
        margin-top: 30px;
        color: #555;
        line-height: 20px;
        font-size: 15px;
      }
    }
  }

  .features {
    flex: 2;
    background-color: #fcf5f3;
    .wrapper {
      padding: 0 20px;
    }
  }
}
